* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(100%);
}

.post-enter-active {
    transform: translateX(0);
    transition: all 300ms ease-in;
}

.post-exit {
    transform: translateX(0);
}

.post-exit-active {
    transform: translateX(100%);
    transition: all 300ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.page__current {
    border: 2px solid #f00;
    font-weight: 700;
}

.navbar {
    height: 58px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: rgb(160, 160, 160);
}

.navbar__links {
    margin-left: auto;
}

.navbar__links a {
    margin-right: 5px;
}